{% extends "base.html" %}
{% block title %} Login Page {% endblock %}
{% block content %}
<style>
    .abt{
        padding: 20px;
        margin-bottom:70px;
    }
    .box{
        background-color: rgb(216, 212, 174);
        border-radius: 10px;
        padding: 30px;
        margin: 30px;
        transition: .5s;
        margin-bottom: 50px;
    }
    .box:hover{
        transform:translateY(-10px);
        cursor: pointer;
    }
    p{
        font-size: 20px;
    }
    
</style>
    
<div class="abt">
        
    <div class="box">
        <h1>Brain Tumor</h1>
        <p>A brain tumor is a growth of cells in the brain or near it. Brain tumors can happen in the brain tissue. Brain tumors also can happen near the brain tissue. Nearby locations include nerves, the pituitary gland, the pineal gland, and the membranes that cover the surface of the brain.
    
            Brain tumors can begin in the brain. These are called primary brain tumors. Sometimes, cancer spreads to the brain from other parts of the body. These tumors are secondary brain tumors, also called metastatic brain tumors.Many different types of primary brain tumors exist. Some brain tumors aren't cancerous. These are called noncancerous brain tumors or benign brain tumors. Noncancerous brain tumors may grow over time and press on the brain tissue. Other brain tumors are brain cancers, also called malignant brain tumors. Brain cancers may grow quickly. The cancer cells can invade and destroy the brain tissue.
    
           Brain tumors range in size from very small to very large. Some brain tumors are found when they are very small because they cause symptoms that you notice right away. Other brain tumors grow very large before they're found. Some parts of the brain are less active than others. If a brain tumor starts in a part of the brain that's less active, it might not cause symptoms right away. The brain tumor size could become quite large before the tumor is detected.</p>
    </div>
    
</div>

{% endblock %}